<a href="https://colab.research.google.com/github/lavish299/Coursera_Capstone/blob/master/Reviews2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
# import nltk
# nltk.download('punkt')
# import datetime
import regex as re
from collections import defaultdict

In [16]:
df_reviews=pd.read_csv('/content/drive/My Drive/Colab Notebooks/nlp_project/reviews_new.csv')
# df=pd.ExcelFile('/content/drive/My Drive/Colab Notebooks/nlp_project/weightage.xlsx')
df_exams=pd.read_csv('/content/drive/My Drive/Colab Notebooks/nlp_project/entrance.csv')
df_new=df_reviews.copy()
df_new.fillna('',inplace=True)
# df_new=df[['reviews_id','reviews_fees']]

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,12,14,16,35,48,59,60,61,68,70,71,72) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
def to_dict(alist):
  new_dict={}
  for i in alist:
    new_dict[i]=0
  return new_dict

In [0]:
fees_one="expense,installment,breakdown,caution,refundable,nri,cheque,refunded,hike,refund,decrease,break,breakage,hiked,fee breakdown,fee reimbursement,caution money,category fee,government,aided,unaided,government college,college government,government fee,govt college,private,self financed,hostel,ac,accommodation,hosteller,breakfast,hostelers,hostel fee,fee hostel,mess fee,hostel mess,year hostel,hostel facility,including hostel,hostel charge,college hostel,fee mess,mess charge,semester hostel,mess food,building,laboratory,practicals,blazer,exam fee,examinaion fee,fee exam,fee library,fee examination,lab fee,transportation,transport,bus fee,fee bus,bus facility,bus"
fees_1_2='category,st,sc,quota,general,obc,caste,girl,background,backward,weaker,weak,sc,st,management quota,category student,poor student,management seat,open category,family income,general category,management student,category fee'
exams_list=df_exams['short_form'].str.lower()
fees_1_5="eamcet,comedk,kcet,jntu,jee,pgcet,entrance exam,loan,loan facility,scholarship,merit,mark,concession,financial scheme,waiver,discount,finance,financially,meritorious,financing,financed,assistance,bright,awarded,subsidized,scholorship,wavier,exemption,get scholarship,scholarship student,scholarship provided,provide scholarship,fee waiver,scholarship available,merit student,provides scholarship,education loan,many scholarship,scholarship fee,fee concession"
fees_1_5=fees_1_5.split(",")
fees_one=fees_one.split(",")
fees_1_2=fees_1_2.split(",")
fees_1_5.extend(exams_list)
fees_one=to_dict(fees_one)
fees_1_2=to_dict(fees_1_2)
fees_1_5=to_dict(fees_1_5)
reg=[]
alpha_list=set(['hundered','hundereds','thousand','thousands','lakhs','lakh','lpa'])

In [0]:
events_one='festivals,conference ,workshop,puja,pooja,techfest,music,traduitional,workshop,tournament,coding ,robotics,farewell,cricket,celebrity,bollywood,branch fests,diwali,holi,farewell,navratri,football,basketball,puja,seminars,badminton,painting,rangoli,chess,tennis,movie,racing,spardha,sangathan,ganesha,rajyotsava,mahotsav,renaissance,funding,technex,shivaji,dhwani,kashiyatra'
events_one=events_one.split(',')
events_one=to_dict(events_one)
events_1_2='events celebrated,cultural fest,cultural event,fresher party,technical event,tech fest,annual fest,sports day,sports fest,events organised,sports meet,annual farewell,childrens day,pharmacy week,pongal,intercollege fest,alumni meet,christmas day,cultural committee,saraswati pooja,gaming event,photography,entrepreneurship,literature,marathon,kabaddi,janmashtami,hacking,navaratri,halloween'
events_1_2=events_1_2.split(',')
events_1_2=to_dict(events_1_2)
events_1_5='environment day,independence day,republic day,abdul kalam,kannada rajyotsava,ganesh utsav,carnival,durga,tedx,mun,hackathons,startup,zonal'
events_1_5=events_1_5.split(',')
events_1_5=to_dict(events_1_5)

In [0]:
scholarship_one="merit,open,income-based,awards,competition,gender,minorities,fellowships,sports"
scholarship_one=scholarship_one.split(',')
scholarship_one=to_dict(scholarship_one)

In [0]:
campus_life_one='onam,footbal,travel,funding,lab,cricket,basketball,court,volleyball,extracurricular,library,debate,badminton,infrastructure,tournament,diversity,politics,ragging,laboratory,music,singing,chess,fests,economic,senior,quiz,swimming,tech.drama,basket,prize,ethnicity,auditorium,kho,hockey,kabaddi,placement,photography,yoga,extracurriculars,kabbadi,racism,gymnasium,athletics,athletic,robotic,medal,handball,scholarship,fund,dj,apparatus,kabadi,entrepreneurship,squash,diwali,botany,robo,zonal,newspaper,socities,musical,hotel,pharmacy,recreational,athlete,entrepreneur,theater,baseball,hackathon,ngo,rotaract,transportation,adventure,restaurant,batminton,cleanliness,mall,khokho,olympic,atm,nukkad,coffee,dramatic,accommodate,ganesh,startup,tug,tea'
campus_life_one=campus_life_one.split(',')
campus_life_one=to_dict(campus_life_one)

In [0]:
alumni_one='alumnus network,senior helpful,alumnus meet,college alumnus,alumnus college,alumnus association,student alumnus,alumnus senior,senior college,alumnus student,network strong,senior alumnus,ragging college,,ragging free,anti ragging,ragging policy,network huge,club college,ragging activity,senior network,placed well,always friendly,placed many,teacher helpful,huge network,life alumnus,alumnus friendly,quite supportive,ragging take,network spread,conduct seminar,regarding job,type ragging,mock interview,alumnus passed,friendly alumnus,ragging squad,experience share,senior ready,alumini good,around globe,network alumini,interaction alumini,senior touch,network association,alumina network,network,ragging,friendly,placement,company,job,project,,helping'
alumni_one=alumni_one.split(",")
alumni_one=to_dict(alumni_one)

In [0]:
admission_one="counselling,jee,round,interview,counseling,branch,admitted,allotment,st,neet,wbjee,mba,academic,councelling,june,infrastructure,shortlisted,july,offline,sc,counciling,phd,internship,shortlisting,jcece,refundable,seminar,counsellor,git,reimbursement,deadline,depositing,,cuttoff"
admission_one=admission_one.split(',')
admission_one=to_dict(admission_one)
admission_1_2='jee main,admission procedure,document verification,pay fee,required document,direct admission,official website,online application,admission management,counseling got,submitted document,jee exam,admission jee,fee college,online counselling,document admission,choice filling,interview round,exam jee,mark jee,document verified,apply entrance,cat xat,indraprastha university,neet score,course entrance'
admission_1_2=admission_1_2.split(",")
admission_1_2=to_dict(admission_1_2)

In [0]:
remarks_one='college good,good college,negative remark,positive remark,bad remark,good infrastructure,good faculty,faculty good,college campus,curricular activity,overall good,good thing,extra curricular,bad thing,good student,college infrastructure,fee structure,engineering college,faculty member,extracurricular activity,experience college,infrastructure college,good facility,campus good,college great,hostel facility,negative point,college positive,positive thing,placement good,everything good,good management,negative thing,good campus,college really,college overall,management college,positive college,quality education,teaching staff,campus life,student good,negative college,good experience,good teaching,environment good,take admission,college negative,facility available,facility provided,facility student,love college,good teacher,experience good,good study,teacher good,well maintained,admission college,good academic,faculty college,bad college,college environment,good education,college placement,best thing,good atmosphere,good enough,need improve,mess food,placement college,placement cell,campus college,good hostel,better college,job opportunity,experienced faculty,teaching faculty,overall development,college hostel,college teacher,good helpful,good overall,average college,recommend college,cultural activity,transport facility,best infrastructure,sport activity,great experience,infrastructure faculty,ragging free,alumnus network,environment study,eco friendly,atmosphere good,play ground,transportation facility,get placed,good job,good friend,hostel food,negative comment,faculty student,management really,best university,faculty infrastructure,management supportive,faculty best,great infrastructure,placement record,faculty friendly,anti ragging,dress code,course curriculum,college library,education system,curriculum activity,staff member,college amazing,personality development,good opportunity,college administration,faculty management,drinking water,experience campus,air conditioned,placement internship,infrastructure best,hostel mess,academic infrastructure,placement bad,experience faculty,facility nice,management worst,experienced staff,indoor game,free environment,table tennis,average placement,negative infrastructure,campus recruitment,latest technology,awesome faculty,bad infrastructure,public transport,south india,college reputed,management overall,highly recommend,infrastructure poor,good bus,college fest,national institute'
remarks_one=remarks_one.split(",")
remarks_one=to_dict(remarks_one)

In [0]:
placements_one='company,job,internship,package,average,interview,cell,branch,offer,stipend,industry,career,mnc,recruiter,recruit,sector,percent,hire,future,visiting,compared,research,multinational,startup,avg,assistance,stipend,industry,paid,cell,sector,recruitment,mnc,selection,salary,startup,arranged,hire'
placements_one=placements_one.split(",")
placements_one=to_dict(placements_one)
placements_1_2='placement cell,placement college,campus placement,college placement,company visited,highest package,package offered,top company,placement training,internship opportunity,campus drive,average salary,best company,average placement,mass recruiter,job fair,percentage student,highest salary,internship company,offer good,provide internship,average stipend,internship stipend,internship opportunity,stipend offered,stipend amount,general stipend,offer internship,stipend per,placement cell,college offer,good stipend,paid internship,internship course,stipend depends,reputed company,big company,handsome stipend,start company,,student industrial'
placements_1_2=placements_1_2.split(",")
placements_1_2=to_dict(placements_1_2)
placements_1_5='lakh per annum,student got placed,college provides internship,placement cell college,college placement cell,training placement cell,lakh per year,training placement department'
placements_1_5=placements_1_5.split(",")
placements_1_5=to_dict(placements_1_5)

In [0]:
# new_dict={}
# for i in score_one:
#   new_dict[i]=0
# score_one=new_dict

# new_dict={}
# for i in score_1_2:
#   new_dict[i]=0
# score_1_2=new_dict

# new_dict={}
# for i in score_1_5:
#   new_dict[i]=0
# score_1_5=new_dict

In [0]:
def counter_A(data,key_dict):
  data=str(data).lower()
  new_dict=defaultdict(int)
  for i in key_dict.keys():
    if " "+i+" " in data:
      new_dict[i] += 1
  return new_dict

def counter_num(df):
  reg=[]
  # for rows in df:
  y=re.findall('\d+\S*\s*',str(df))
  reg.append(y)
  return reg

# def counter_alphanum(data):
#   data=str(data).lower()
#   new_dict=defaultdict(int)
#   for i in alpha_list:
#     if i in data:
#       new_dict[i] += 1
#   return new_dict

In [0]:
df_new['fees_num']=df_new['reviews_fees'].apply(lambda x: counter_num(x))
df_new['events_num']=df_new['reviews_events'].apply(lambda x: counter_num(x))
df_new['scholarship_num']=df_new['reviews_scholarship'].apply(lambda x: counter_num(x))
df_new['campus_life_num']=df_new['reviews_campus_life'].apply(lambda x: counter_num(x))
df_new['alumni_num']=df_new['reviews_alumni'].apply(lambda x: counter_num(x))
df_new['admission_num']=df_new['reviews_admission'].apply(lambda x: counter_num(x))
df_new['faculty_num']=df_new['reviews_faculty'].apply(lambda x: counter_num(x))
df_new['hostel_facilities_num']=df_new['reviews_hostel_facilities'].apply(lambda x: counter_num(x))
df_new['placement_num']=df_new['reviews_placement'].apply(lambda x: counter_num(x))
df_new['internship_num']=df_new['reviews_internship'].apply(lambda x: counter_num(x))
df_new['exam_structure_num']=df_new['reviews_exam_structure'].apply(lambda x: counter_num(x))
df_new['course_curriculum_num']=df_new['reviews_course_curriculum'].apply(lambda x: counter_num(x))
df_new['exam_related_num']=df_new['reviews_exam_related'].apply(lambda x: counter_num(x))

In [0]:
df_new['fees_one']=df_new['reviews_fees'].apply(lambda x: counter_A(x,fees_one))
df_new['score_fees_one']=df_new['fees_one'].apply(lambda x : sum(x.values()))
df_new['fees_1_2']=df_new['reviews_fees'].apply(lambda x: counter_A(x,fees_1_2))
df_new['score_fees_1_2']=df_new['fees_1_2'].apply(lambda x : sum(x.values()))
df_new['fees_1_5']=df_new['reviews_fees'].apply(lambda x: counter_A(x,fees_1_5))
df_new['score_fees_1_5']=df_new['fees_1_5'].apply(lambda x : sum(x.values()))

In [0]:
df_new['events_one']=df_new['reviews_events'].apply(lambda x: counter_A(x,events_one))
df_new['score_events_one']=df_new['events_one'].apply(lambda x : sum(x.values()))
df_new['events_1_2']=df_new['reviews_events'].apply(lambda x: counter_A(x,events_1_2))
df_new['score_events_1_2']=df_new['events_1_2'].apply(lambda x : sum(x.values()))
df_new['events_1_5']=df_new['reviews_events'].apply(lambda x: counter_A(x,events_1_5))
df_new['score_events_1_5']=df_new['events_1_5'].apply(lambda x : sum(x.values()))

In [0]:
df_new['scholarship_one']=df_new['reviews_scholarship'].apply(lambda x: counter_A(x,scholarship_one))
df_new['score_scholarship_one']=df_new['scholarship_one'].apply(lambda x : sum(x.values()))

In [0]:
df_new['campus_life_one']=df_new['reviews_campus_life'].apply(lambda x: counter_A(x,campus_life_one))
df_new['score_campus_life_one']=df_new['campus_life_one'].apply(lambda x : sum(x.values()))

In [0]:
df_new['alumni_one']=df_new['reviews_alumni'].apply(lambda x: counter_A(x,alumni_one))
df_new['score_alumni_one']=df_new['alumni_one'].apply(lambda x : sum(x.values()))

In [0]:
df_new['admission_one']=df_new['reviews_admission'].apply(lambda x: counter_A(x,admission_one))
df_new['score_admission_one']=df_new['admission_one'].apply(lambda x : sum(x.values()))
df_new['admission_1_2']=df_new['reviews_admission'].apply(lambda x: counter_A(x,admission_1_2))
df_new['score_admission_1_2']=df_new['admission_1_2'].apply(lambda x : sum(x.values()))

In [0]:
df_new['faculty_one']=df_new['reviews_faculty'].apply(lambda x: counter_A(x,remarks_one))
df_new['score_faculty_one']=df_new['faculty_one'].apply(lambda x : sum(x.values()))

df_new['hostel_facilities_one']=df_new['reviews_hostel_facilities'].apply(lambda x: counter_A(x,remarks_one))
df_new['score_hostel_facilities_one']=df_new['hostel_facilities_one'].apply(lambda x : sum(x.values()))

In [0]:
df_new['placements_one']=df_new['reviews_placement'].apply(lambda x: counter_A(x,placements_one))
df_new['score_placements_one']=df_new['placements_one'].apply(lambda x : sum(x.values()))

df_new['placements_1_2']=df_new['reviews_placement'].apply(lambda x: counter_A(x,placements_1_2))
df_new['score_placements_1_2']=df_new['placements_1_2'].apply(lambda x : sum(x.values()))

df_new['placements_1_5']=df_new['reviews_placement'].apply(lambda x: counter_A(x,placements_1_5))
df_new['score_placements_1_5']=df_new['placements_1_5'].apply(lambda x : sum(x.values()))

df_new['internship_one']=df_new['reviews_internship'].apply(lambda x: counter_A(x,placements_one))
df_new['score_internship_one']=df_new['internship_one'].apply(lambda x : sum(x.values()))

df_new['internship_1_2']=df_new['reviews_internship'].apply(lambda x: counter_A(x,placements_1_2))
df_new['score_internship_1_2']=df_new['internship_1_2'].apply(lambda x : sum(x.values()))

df_new['internship_1_5']=df_new['reviews_internship'].apply(lambda x: counter_A(x,placements_1_5))
df_new['score_internship_1_5']=df_new['internship_1_5'].apply(lambda x : sum(x.values()))

In [37]:
df_new.head()

   reviews_id  reviews_college_id  ... internship_1_5 score_internship_1_5
0           1               28435  ...             {}                    0
1           2               13708  ...             {}                    0
2           3                5696  ...             {}                    0
3           4                4970  ...             {}                    0
4           5                4967  ...             {}                    0

[5 rows x 124 columns]

In [0]:
df_new.to_csv('/content/drive/My Drive/Colab Notebooks/nlp_project/final_reviews.csv')

In [0]:
df_new['num_sum']=df_new['fees_num'].apply(lambda x: len(x[0]))+df_new['events_num'].apply(lambda x: len(x[0]))+df_new['scholarship_num'].apply(lambda x: len(x[0]))+df_new['campus_life_num'].apply(lambda x: len(x[0]))+df_new['alumni_num'].apply(lambda x: len(x[0]))+df_new['admission_num'].apply(lambda x: len(x[0]))+df_new['faculty_num'].apply(lambda x: len(x[0]))+df_new['hostel_facilities_num'].apply(lambda x: len(x[0]))+df_new['placement_num'].apply(lambda x: len(x[0]))+df_new['internship_num'].apply(lambda x: len(x[0]))+df_new['placement_num'].apply(lambda x: len(x[0]))+df_new['exam_structure_num'].apply(lambda x: len(x[0]))+df_new['course_curriculum_num'].apply(lambda x: len(x[0]))++df_new['exam_related_num'].apply(lambda x: len(x[0]))

In [0]:
df_new['key_sum']=df_new['score_fees_one']+df_new['score_events_one']+df_new['score_scholarship_one']+df_new['score_campus_life_one']+df_new['score_admission_one']+df_new['score_faculty_one']+df_new['score_hostel_facilities_one']+df_new['score_placements_one']+df_new['score_internship_one']+1.2*(df_new['score_fees_1_2']+df_new['score_events_1_2']+df_new['score_admission_1_2']+df_new['score_placements_1_2']+df_new['score_internship_1_2'])+1.5*(df_new['score_fees_1_5']+df_new['score_events_1_5']+df_new['score_placements_1_5']+df_new['score_internship_1_5'])

In [0]:
df_new[200:]

In [0]:
df_new.to_csv('/content/drive/My Drive/Colab Notebooks/nlp_project/final_reviews.csv')